src/main/mule/implementation .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:american-flight-practise="http://www.mulesoft.org/schema/mule/american-flight-practise" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flight-practise http://www.mulesoft.org/schema/mule/american-flight-practise/current/mule-american-flight-practise.xsd">
	<flow name="getAmericanFlights" doc:id="f017e473-4da7-46e8-a2b2-ca159d6a0851" >
		<http:listener doc:name="GET /american" doc:id="df08f60e-3580-406b-8d11-97fa170af6c5" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<american-flight-practise:get-flights doc:name="Get flights" doc:id="a8403e86-4fbc-4188-a57d-31a4d9b43f4d" config-ref="AmericanFlightPractise_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[attributes.queryParams.code default 'SFO']"/>
	</flow>
</mule>
